<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="brand" href="#">Winestop</a>

			<ul class="nav navbar-nav">
				<li ng-class="{ active: isActive('/products')}"
					ng-click="collapseNavbar()"><a href="#/products">Products</a></li>
				<li ng-class="{ active: isActive('/sales')}"
					ng-click="collapseNavbar()"><a href="#/sales">Sales</a></li>
			</ul>

			<ul class="nav-collapse collapse pull-right">
				<label>Hi, user</label>
			</ul>
		</div>
	</div>
</div>